* {
    box-sizing: border-box;
}

body {
    background-color: rgb(237, 231, 241);
    font-family: 'Quicksand', sans-serif;
    margin: 0;
}

h1 {
    font-size: 3rem;
}

h2 {
    font-size: 2rem;
}

header {
    width: 100%;
    height: 10em;
    padding-top: 1em;
    padding-bottom: 1em;
}

header img {
    display:block;
    max-height: 100%;
    max-width: 100%;
    margin-left: auto;
    margin-right: auto;
}

nav {
    background-color: rgb(38, 135, 127);
    height: 2.5em;
    width: 100%;
    justify-content: space-around;
}

nav ul {
    display: flex;
    text-align: center;
    list-style: none;
    justify-content: space-around;
    position: relative;
}

nav li {
    display: inline;
}

li a {
    display: block;
    padding: 0.6em 5em 0.6em 5em;
    color: white;
    text-decoration: none;
}

li a:hover {
    background-color: rgb(255, 255, 255, 0.3);
}

main {
    margin-top: 1em;
}

section {
    display: flex;
    margin-left: 2em;
    margin-right: 2em;
}

article {
    flex: 1;
}

#main-article{
    display: flex;
    flex-direction: column;
    justify-content: center;
    max-width: 35em;
    color: rgb(38, 135, 127);
    font-size: 1.1em;
    align-items: center;
    padding-left: 2em;
    padding-right: 2em;
    max-height: 100%;
    min-width: 15rem;
    max-width: 32rem;
}

#main-title {
    margin-top: 0;
    margin-bottom: 2rem;
    float: top;
}

#main-image img{
    display: flex;
    width: 100%;
    height: auto;
    float:right;
    object-fit: scale-down;
}

#main-image {
    max-width: 60em;
    margin-left: 5%;
    min-width: 40em;
}

.secundary {
    margin-top: 3em;
    display: flex;
    align-items: space-around;
    justify-content: space-around;
}

.sec-article {
    text-align: center;
    position: relative;
    color: rgb(237, 231, 241);
    background-color:rgb(38, 135, 127);
    max-width: 30em;
    height: 20em;
}

#art-2 {
    background-image: url(/img/garden-1.jpeg);
    background-size: cover;
    background-repeat: no-repeat;
    transition: all 1s ease;
    color: transparent;
}

#art-3 {
    background-image: url(/img/Archigarden.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    transition: all 1s ease;
    color: transparent;
}

#art-4 {
    background-image: url(/img/plant-nursery.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    transition: all 1s ease;
    color: transparent;
}

#art-2:hover {
    background-position-y: 20em;
    color: rgb(237, 231, 241);
}

#art-3:hover {
    background-position-y: 20em;
    color: rgb(237, 231, 241);
}

#art-4:hover {
    background-position-y: 20em;
    color: rgb(237, 231, 241);
}

footer {
    display: flex;
    height: 8rem;
    width: 100%;
    background-color: rgb(38, 135, 127);
    color: rgb(237, 231, 241);
    margin-top: 2em;;
}

footer div {
    flex: 1;
}

#footer-logo {
    border-right: 2px solid rgb(237, 231, 241);
    margin-top: 1rem;
    margin-bottom: 1rem;
    max-width: 10%;
}

#copyright {
    align-self: center;
    justify-self: start;
    padding-left: 2rem;
    width: auto;
}

#footer-logo > img {
    display: flex;
    margin-left: 4rem;
    margin-right: 4rem;
    max-width: 100%;
    max-height: 100%;
}