* {
    box-sizing: border-box;
    font-family: 'Quicksand', sans-serif;
  }

/* For mobile phones: */
[class*="col-"] {
    width: 100%;
  }
  
  /* For desktop: */
  @media only screen and (min-width: 768px) {
    .col-1 {width: 8.33%;}
    .col-2 {width: 16.66%;}
    .col-3 {width: 25%;}
    .col-4 {width: 33.33%;}
    .col-5 {width: 41.66%;}
    .col-6 {width: 50%;}
    .col-7 {width: 58.33%;}
    .col-8 {width: 66.66%;}
    .col-9 {width: 75%;}
    .col-10 {width: 83.33%;}
    .col-11 {width: 91.66%;}
    .col-12 {width: 100%;}
  }

[class*="col-"] {
    float: left;
    padding: 15px;
    border: 1px solid red;
}

.row::after {
    content: "";
    clear: both;
    display: table;
}

img {
    max-width: 100%;
    max-height: auto;
  }

#main-logo {
    position: relative;
    max-height: 10em;
    max-width: 10%;
    left: 45%;
    right: 45%;
}

nav {
    background-color: rgb(38, 135, 127);
    text-align: center;
}

a {
    text-decoration: none;
    color: rgb(237, 231, 241);
}

#main-article {
    max-height: 18.7em;
    overflow: auto;
}

#main-image {
    padding: 1em 0 1em 0;
}